@import '~bootstrap/scss/bootstrap';

$grey: #333;



sup{
    font-style: italic;
    font-weight: 100 ;
    color: white;
}

header{
    text-align: center;
    width: 100%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(147,21,130,1) 
    30%, rgba(212,168,204,0.49855907780979825) 100%);
}

#unauthenticated{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 200px;
    float: center;


}

#game {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    list-style: none;
    margin: auto;
    width: 40%;
    margin-bottom: 20px;
    div{
        border: solid black 1px;
        padding: 5px;
        width: 200px;
        height: 150px;
        margin-top: 0px;
        line-height: 200px;
        color: pink;
        font-weight: bold;
        font-size: 3em;
        text-align: center;
        flex: 1 40%;
        flex-grow: 15;
        
        }

}

#authenticated {
    text-align: center;

}

#start-game {
    justify-content: center;
    padding: 200px;
    float: center;
    
}

// #new-game {
//     margin: 100%;
// }


footer {
    border: solid black 1px;
    text-align: center;
    background: linear-gradient(90deg, rgba(212,168,204,0.49855907780979825) 0%, rgba(147,21,130,1) 
    30%, rgba(2,0,36,1) 100%);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    

}
#pass {
    width: 20%;
}
#pass1 {
    width: 20%;
}
#score {
    font-weight: bold;
}

